extends layout

block content
  span <a href='https://the-tale.org/'> <img src='https://the-tale.org/static/244/images/logo.png'/></a>
  p
  a(href='/markethistory') История рынка
  p 
  img(src='http://gorovoyeye.com/wp-content/uploads/2014/08/pageunderconstruction.jpg', width=100)
  