doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/Yandex.Metrika.js')
    noscript
      div
        img(src='https://mc.yandex.ru/watch/48485858', style='position:absolute; left:-9999px;', alt='')
  body
    block content
