doctype html
html
head
meta(charset='UTF-8')/
title= titlen
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js')
script(src='/javascripts/market_history.js')
link(rel='stylesheet', href='/stylesheets/market_history.css')
body(onload='onLoadEvent();')
div#image-block
  h3 Выберите карту:
  select(name='cards' id = 'cardList' onchange='onChangeSelectList()') asd
    -each val in cards
      option= val
  p(id='last-price')= LastPrice  
  div#image
    canvas#myChart
