doctype html
html
head
meta(charset='UTF-8')/
title История рынка
script(src='/javascripts/jquery-3.3.1.min.js')
script(src='/javascripts/Chart.min.2.7.2.js')
script(src='/javascripts/Chart.bundle.2.7.2.js')
script(src='/javascripts/market_history.js')
script(src='/javascripts/Yandex.Metrika.js')
noscript
  div
    img(src='https://mc.yandex.ru/watch/48485858', style='position:absolute; left:-9999px;', alt='')
link(rel='stylesheet', href='/stylesheets/market_history.css')
body(onload='onLoadEvent();')
a(href='/') На главную
div#image-block
  h3 Выберите карту:
  select(name='cards' id = 'cardList' onchange='onChangeSelectList()') asd
    -each val in cards
      option= val
  p(id='last-price')= LastPrice  
  div#image
    canvas#myChart
